In [ ]:
# bt1
import pandas as pd

name = ['An', 'Bình', 'Châu', 'Dũng']
score = [8.5, 7.0, 6.5, 9.0]

print("\nSeries:")
series_numbers = pd.Series([1, 2, 3, 4, 5])
print(series_numbers)

print("\nDataFrame info:")
df = pd.DataFrame({
    'name': name,
    'score': score
})
df.info()

print("\nDataFrame describe:")
print(df.describe())

Series:
0    1
1    2
2    3
3    4
4    5
dtype: int64

DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4 non-null      object
 1   score   4 non-null      float64
dtypes: float64(1), object(1)
memory usage: 196.0+ bytes

DataFrame describe:
          score
count  4.000000
mean   7.750000
std    1.190238
min    6.500000
25%    6.875000
50%    7.750000
75%    8.625000
max    9.000000

In [ ]:
# bt2
import pandas as pd

name = ['An', 'Bình', 'Châu', 'Dũng']
age = [20, 21, 22, 20]
score = [8.5, 7.0, 6.5, 9.0]

df = pd.DataFrame({'name': name, 'age': age, 'score': score})

print(df.loc[df['score'] >= 8])

print(df.iloc[0: len(df)])

print(df.query("score > 7 & age < 23") )

   name   age  score
0    An  20.0    8.5
3  Dũng  20.0    9.0
   name   age  score
0    An  20.0    8.5
1  Bình   NaN    NaN
2  Châu  22.0    6.5
3  Dũng  20.0    9.0
   name   age  score
0    An  20.0    8.5
3  Dũng  20.0    9.0

In [ ]:
# bt3
import pandas as pd

name = ['An', 'Bình', 'Châu', 'Dũng']
age = [20, None, 22, 20]
score = [8.5, None, 6.5, 9.0]

df = pd.DataFrame({'name': name, 'age': age, 'score': score})

print(df.isna())

df['age'].fillna(df['age'].mean().round(1), inplace=True)
print(df)

df.dropna(inplace=True)
print(df)

    name    age  score
0  False  False  False
1  False   True   True
2  False  False  False
3  False  False  False
   name   age  score
0    An  20.0    8.5
1  Bình  20.7    NaN
2  Châu  22.0    6.5
3  Dũng  20.0    9.0
   name   age  score
0    An  20.0    8.5
2  Châu  22.0    6.5
3  Dũng  20.0    9.0

C:\Users\crphu\AppData\Local\Temp\ipykernel_4820\452434341.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['age'].fillna(df['age'].mean().round(1), inplace=True)

In [3]:
# bt4
import pandas as pd

name = ['An', 'Bình', 'Châu', 'Dũng']
age = [20, 21, 22, 20]
score = [8.5, 7.0, 6.5, 9.0]

df = pd.DataFrame({'name': name, 'age': age, 'score': score})

df['age_group'] = df['age'].apply(lambda x: 'Young' if x <= 20 else 'Adult')
print(df)

# df['score'].map() i dont understand this question

df['score'] = df['score'].astype(int)
print(df)

df['name'] = df['name'].replace('Bình', 'Bình (updated)')
print(df)

   name  age  score age_group
0    An   20    8.5     Young
1  Bình   21    7.0     Adult
2  Châu   22    6.5     Adult
3  Dũng   20    9.0     Young
   name  age  score age_group
0    An   20      8     Young
1  Bình   21      7     Adult
2  Châu   22      6     Adult
3  Dũng   20      9     Young
             name  age  score age_group
0              An   20      8     Young
1  Bình (updated)   21      7     Adult
2            Châu   22      6     Adult
3            Dũng   20      9     Young

In [4]:
# bt5
import pandas as pd

name = ['An', 'Bình', 'Châu', 'Dũng']
age = [20, 21, 22, 20]
score = [8.5, 7.0, 6.5, 9.0]

df = pd.DataFrame({'name': name, 'age': age, 'score': score})

print(df.groupby('age')['score'].agg([
    ('mean_score', 'mean'),
    ('min_score', 'min'),
    ('max_score', 'max')
]).reset_index())

   age  mean_score  min_score  max_score
0   20        8.75        8.5        9.0
1   21        7.00        7.0        7.0
2   22        6.50        6.5        6.5

In [ ]:
# bt6
import pandas as pd

df1 = pd.DataFrame({'id': [1, 2, 3], 'name': ['An', 'Bình', 'Châu']})
df2 = pd.DataFrame({'id': [1, 2, 3], 'score': [8.5, 7.0, 6.5]})
age = [20, 21, 22]
df = df1.merge(df2, on='id')
print(df)

df = pd.concat([df, pd.DataFrame({'age': age})], axis = 1)
print(df)

   id  name  score
0   1    An    8.5
1   2  Bình    7.0
2   3  Châu    6.5
   id  name  score  age
0   1    An    8.5   20
1   2  Bình    7.0   21
2   3  Châu    6.5   22

In [16]:
# bt7
import pandas as pd

date = ['2023-01-01', '2023-02-01', '2023-03-01']
name = ['An', 'Bình', 'Châu']

df = pd.DataFrame({'date': date, 'name': name})

df['date'] = pd.to_datetime(df['date'])
print(df)

print(df['date'].dt.year)

df['name'] = df['name'].astype('category')
print(df['name'])

        date  name
0 2023-01-01    An
1 2023-02-01  Bình
2 2023-03-01  Châu
0    2023
1    2023
2    2023
Name: date, dtype: int32
0      An
1    Bình
2    Châu
Name: name, dtype: category
Categories (3, object): ['An', 'Bình', 'Châu']

In [22]:
# bt8
import pandas as pd
import glob
import re

all_files = glob.glob('log/*.json')
df_list = []

for file in all_files:
    df_temp = pd.read_json(file, lines = True)
    date_match = re.search(r'log_(\d{4}-\d{2}-\d{2})', file)
    if date_match:
        df_temp['date'] = date_match.group(1)
    df_list.append(df_temp)

df = pd.concat(df_list, ignore_index=True)
df['date'] = pd.to_datetime(df['date'])

daily_report = df.groupby('date')['duration'].sum().reset_index()
daily_report.columns = ['date', 'total_duration']


daily_report.to_csv('daily_report.csv', index=False)